
body{margin:0px; font-family:Verdana; font-size:14px; background-color:#FFFFFF;}
ol{margin:0px; margin-left:25px; padding:0px;}
ul{margin:0px; margin-left:25px; padding:0px;}

.g_hdrBg{width:100%; height:32px; background-image:url(./_imgs/HeaderBg2.jpg); font-family:Verdana; font-size:16px; color:#FFFFFF; font-weight:bold;}

.g_layoutTbl{margin:0px; padding:0px;}
.g_layoutTbl th{margin:0px; padding:0px;}
.g_layoutTbl td{margin:0px; padding:0px;}

.g_displayTbl{margin:0px; padding:0px; font-family:Verdana; font-size:14px; border-top:solid 1px #000000; border-left:solid 1px #000000;}
.g_displayTbl th{margin:0px; padding:3px; font-family:Verdana; font-size:14px; border-bottom:solid 1px #000000; border-right:solid 1px #000000;}
.g_displayTbl td{margin:0px; padding:3px; font-family:Verdana; font-size:14px; border-bottom:solid 1px #000000; border-right:solid 1px #000000;}

.g_tblHrdBg{background-color:#385C84;} /* 38B8F5, 385C84 */


.g_text10px{font-family:Verdana; font-size:10px;}
.g_text12px{font-family:Verdana; font-size:12px;}
.g_text14px{font-family:Verdana; font-size:14px;}
.g_text16px{font-family:Verdana; font-size:16px;}
.g_text18px{font-family:Verdana; font-size:18px;}
.g_text20px{font-family:Verdana; font-size:20px;}
.g_text22px{font-family:Verdana; font-size:22px;}
.g_text24px{font-family:Verdana; font-size:24px;}

.g_link10px{font-family:Verdana; font-size:10px; color:#0000FF; text-decoration:none;}
.g_link10px:hover{font-family:Verdana; font-size:10px; color:#0000FF; text-decoration:underline;}
.g_link12px{font-family:Verdana; font-size:12px; color:#0000FF; text-decoration:none;}
.g_link12px:hover{font-family:Verdana; font-size:12px; color:#0000FF; text-decoration:underline;}
.g_link14px{font-family:Verdana; font-size:14px; color:#0000FF; text-decoration:none;}
.g_link14px:hover{font-family:Verdana; font-size:14px; color:#0000FF; text-decoration:underline;}
.g_link16px{font-family:Verdana; font-size:16px; color:#0000FF; text-decoration:none;}
.g_link16px:hover{font-family:Verdana; font-size:16px; color:#0000FF; text-decoration:underline;}
.g_link18px{font-family:Verdana; font-size:18px; color:#0000FF; text-decoration:none;}
.g_link18px:hover{font-family:Verdana; font-size:18px; color:#0000FF; text-decoration:underline;}
.g_link20px{font-family:Verdana; font-size:20px; color:#0000FF; text-decoration:none;}
.g_link20px:hover{font-family:Verdana; font-size:20px; color:#0000FF; text-decoration:underline;}
.g_link22px{font-family:Verdana; font-size:22px; color:#0000FF; text-decoration:none;}
.g_link22px:hover{font-family:Verdana; font-size:22px; color:#0000FF; text-decoration:underline;}
.g_link24px{font-family:Verdana; font-size:24px; color:#0000FF; text-decoration:none;}
.g_link24px:hover{font-family:Verdana; font-size:24px; color:#0000FF; text-decoration:underline;}

/* These "Alt" links switch around the underlining for situations where it is visualy needful */
.g_linkAlt10px{font-family:Verdana; font-size:10px; color:#0000FF; text-decoration:underline;}
.g_linkAlt10px:hover{font-family:Verdana; font-size:10px; color:#0000FF; text-decoration:none;}
.g_linkAlt12px{font-family:Verdana; font-size:12px; color:#0000FF; text-decoration:underline;}
.g_linkAlt12px:hover{font-family:Verdana; font-size:12px; color:#0000FF; text-decoration:none;}
.g_linkAlt14px{font-family:Verdana; font-size:14px; color:#0000FF; text-decoration:underline;}
.g_linkAlt14px:hover{font-family:Verdana; font-size:14px; color:#0000FF; text-decoration:none;}

.g_hline{background-color:#000000; height:1px;}

/* Bread Crumb bar classes */
/* Bacground colors: 0089BC,385C84   */
.g_bcDiv{background-color:#385C84; padding-top:2px; padding-bottom:2px; font-family:Verdana; font-size:12px; color:#E8E8FF;}
.g_navLink12px{font-family:Verdana; font-size:12px; font-weight:bold; color:#E8E8FF; text-decoration:none;}
.g_navLink12px:hover{font-family:Verdana; font-size:12px; font-weight:bold; color:#FFFFFF; text-decoration:underline;}
