
body
{
	margin:0px; font-family:Verdana; font-size:12px; background-color:#FFFFFF;
	min-height:100%;
	display:flex; align-items:center; justify-content:center;
}

.worldSetupPanel{font-family:Tahoma; font-size:16px;}
.worldSetupAppTitle{font-size:220%;}
.worldSetupPanelTxt{font-size:140%;}

.hCenter
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}
.fullCenter
{
	display:flex;
	align-items:center;
	justify-content:center;
}

.cell{border:solid 1px #E8E8E8; padding:0px; margin:0px; cursor:default;}

.ctrlPanel{font-size:120%;}

.rangeCell{border:solid 1px #000000; width:18px; height:25px;}
.rangeCell_sel{background-color:#A0FFA0;}
